<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-sendmsg" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SendMsg</name><js-module name="SendMsg" src="www/SendMsg.js">
    <clobbers target="cordova.plugins.SendMsg" /></js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SendMsg"><param name="android-package" value="cordova.plugin.sendmsg.SendMsg" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/SendMsg.java" target-dir="src/cordova-plugin-sendmsg/SendMsg" />
        <source-file src="src/android/WebSocketServer.java" target-dir="src/cordova-plugin-sendmsg/WebSocketServer" />
        <source-file src="src/android/WebSocketUtils.java" target-dir="src/cordova-plugin-sendmsg/WebSocketUtils" />
        <framework src="javax.websocket:javax.websocket-api:1.1" />
    </platform></plugin>